<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" href='{% static "portal/css/bootstrap.css" %}'>
</head>
<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
  }
</style>
<body>
  <header>
  <nav class="navbar navbar-inverse" style="background-color:white;">
      <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/portal/" style="color:black;">QuizMasters</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="/portal/" style="color:black;">Home</a></li>
        <li><a href="/portal/all_subjects" style="color:black;">Subjects</a></li>
        <li><a href="/portal/my_quizzes" style="color:black;">My Quizzes</a></li>
      </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/portal/logout" style="color:black;">Sign Out</a></li>    
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/portal/user_profile" style="color:white;">Profile</a></li>    
        </ul>
      </div>
  </nav>
  </header>
  <!-- 

  Umm we'll modify the UserExtension database a little bit more, and update this template. Shouldn't be a big problem (VTA)

  -->
  <div class="container">
  <div class="jumbotron">
    <h1>{{userextension.username}} </h1>
    <img src="{{userextension.image.url}}" alt="UserProfileImage" /> <br>
    <h3>{{userextension.dob}}</h3>
  </div>
  </div>
</body>
</html>